
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(216, 218, 219);
    border: 1px solid green;
}
#canvas {
    border: 1px solid red;
    display: block;
    margin: 2% auto;
    
}
h1{
    margin: 5%;
    text-align: center;
}