
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin-top: 1em;
    
}
canvas {
    display: block;
    margin: 3em auto;
}
#result {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}